# Database
NEXT_PUBLIC_SUPABASE_URL=https://tpsqmcziztcdulusiczq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwc3FtY3ppenRjZHVsdXNpY3pxIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODgwMDAwMDAsImV4cCI6MTk4ODAwMDAwMH0.some_anon_key
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwc3FtY3ppenRjZHVsdXNpY3pxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY4ODAwMDAwMCwiZXhwIjoxOTg4MDAwMDAwfQ.some_service_role
